:root {
	--site-max-width: 1024px;
	--article-max-width: 800px;
	--site-main-background-color: white;
	--site-primary-color: #654ea3;
	--site-secondary-color: #2d2c4d;
	--site-tertiary-color: #007faf;
	--site-highlight-color: #d7de21;
	--site-lowlight-color: #35275B;
	--site-primary-font: 'D Diam';
	--site-font-size: 20px;
}

@font-face {
	font-family: 'D Diam';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local(''),
			 url('../assets/fonts/dDiam.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../assets/fonts/dDiam.woff') format('woff'), /* Modern Browsers */
			 url('../assets/fonts/dDiam.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* GENERAL */
body {
	background: white;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	height: 100vh;
}

.inner-container {
	width: 80%;
	max-width: var(--site-max-width);
	margin: 0 auto;
}


/* HEADER */
header {
	background: linear-gradient(var(--site-primary-color), #241845);
	padding: 40px;
	
	& .inner-container {
		display: flex;
		flex-direction: row;
		align-items: flex-end;
	}
	
	& .heading {
		flex: 1;
	}
	
	& .flag {
		background-color: var(--site-highlight-color);
		color: var(--site-lowlight-color);
		display: inline-block;
		font-family: var(--site-primary-font);
		font-size: 24px;
		line-height: 1;
		margin: 0 0 8px 8px;
		padding: 6px 12px 2px;
		text-transform: uppercase;
		transform: skew(-20deg);
	}
	
	& h1 {
		font-family: var(--site-primary-font);
		font-size: 72px;
		color: #fff;
		line-height: 1;
		margin: 0;
		text-shadow: -3px 3px 0 var(--site-tertiary-color);
		text-transform: uppercase;
	}
	
	& h2 {
		font-family: var(--site-primary-font);
		font-size: 24px;
		font-weight: 200;
		color: #fff;
		margin: -2px 0 0;
		
		& .flag {
			font-weight: 200;
		}
	}
	
	& nav {
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			
			& > li {
				font-family: 'D Diam';
				font-size: 24px;
				text-transform: uppercase;
				padding: 8px 0;
				position: relative;
				width: 240px;
				
				&::after {
					content: '';
					height: 1px;
					width: 100%;
					background: linear-gradient(to right, rgba(215,222,33, 1), rgba(215,222,33, 0));
					position: absolute;
					bottom: 0;
					left: 0;
				}
				
				&:last-child::after {
					display: none;
				}
				
				& a {
					color: white;
					text-decoration: none;
					transition: color .2s linear;
					
					&:hover {
						color: var(--site-highlight-color);
					}
				}
				
				&.active a {
					color: var(--site-highlight-color);
				}
			}
		}
	}
}


/* ARTICLE */
article {
	padding: 40px 0;
	max-width: var(--article-max-width);
	margin: 0 auto;
	
	&.cols {
		display: flex;
		flex-direction: row;
	}
	
	& > div {
		width: 50%;
	}
	
	& .intro {
		padding-right: 24px;
	}
	
	& .facebook-container {
		margin-top: 20px;
		padding-left: 24px;
		
		& h3 {
			color: var(--site-lowlight-color);
			font-size: 24px;
			margin-bottom: 12px;
		}
	}
	
	& h2 {
		color: var(--site-lowlight-color);
		font-family: var(--site-primary-font);
		font-size: 48px;
		margin-bottom: 24px;
	}
	
	& li {
		color: var(--site-lowlight-color);
		font-size: 20px;
	}
	
	& p {
		color: var(--site-lowlight-color);
		/*font-size: 24px;*/
		font-size: 20px;
		line-height: 1.5;
	}
	
	& a {
		color: var(--site-tertiary-color);
		transition: color .2s linear;
		
		&:hover {
			color: var(--site-secondary-color);
		}
	}
}


/* ACTIONS */
.actions {
	background: #241845;
	padding: 40px 0;
	
	& .inner-container {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	
	& h3 {
		color: white;
		font-family: var(--site-primary-font);
		font-size: 24px;
		margin: 0 16px 0 0;
	}
	
	& ul {
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		
		& > li {
			margin: 0 16px;
			font-size: 20px;
			
			& > a {
				color: var(--site-highlight-color);
				text-decoration: none;
				font-weight: 400;
				border: 2px solid var(--site-highlight-color);
				padding: 10px 24px 11px;
				border-radius: 4px;
				display: flex;
				flex-direction: row;
				justify-content: center;
				align-items: center;
				transition: background-color .2s linear;
				white-space: nowrap;
				
				& > svg {
					fill: var(--site-highlight-color);
					margin-right: 16px;
				}
				
				&:hover {
					background-color: var(--site-highlight-color);
					color: var(--site-lowlight-color);
					
					& svg {
						fill: var(--site-lowlight-color);
					}
				}
			}
		}
		
		& .social-list > li {
			margin: 0 4px;
			
			& > a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 44px;
				height: 44px;
				padding: 0;
				
				& > svg {
					margin-right: 0;
				}
			}
		}
	}
}


/* FOOTER */
footer {
	background: var(--site-secondary-color);
	
	& .inner-container {
		padding: 40px 0;
	}
	
	& .footer-nav {
		display: flex;
		flex-direction: row;
		align-items: center;
		
		& ul{
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			align-items: center;
			
			&:first-of-type {
				flex: 1;
			}
			
			& > li {
				font-size: 16px;
				margin-right: 24px;
				
				& > a {
					color: white;
					
					& > svg {
						fill: white;
					}
				}
			}
		}
	}
	
	& p {
		display: inline-block;
		border: 1px solid white;
		color: white;
		font-size: 14px;
		padding: 4px 8px;
		margin: 24px 0 0;
		opacity: .35;
	}
}