:root {
	--site-max-width: 60%; /* 1024px */
	--site-main-background-color: white;
	--site-primary-color: #654ea3;
	--site-secondary-color: #2d2c4d;
	--site-tertiary-color: #007faf;
	--site-highlight-color: #d7de21;
	--site-lowlight-color: #35275B;
	--site-primary-font: 'D Diam';
	--site-font-size: 20px;
}

@font-face {
	font-family: 'D Diam';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local(''),
			 url('../assets/fonts/dDiam.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../assets/fonts/dDiam.woff') format('woff'), /* Modern Browsers */
			 url('../assets/fonts/dDiam.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* GENERAL */
body {
	background-color: var(--site-primary-color);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	height: 100vh;
}

.container {
	display: flex;
	flex-direction: row;
	height: 100%;
	width: 100%;
	box-sizing: boder-box;
}

.hero {
	background: url('../assets/images/martha-woerner-headshot.png') 50% 120px, linear-gradient(var(--site-primary-color), #241845);
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	flex: 1;
}

.content {
	background: white;
	flex: 1;
	overflow-y: scroll;
}


/* HEADER */
header {
	padding: 40px;
	
	& .flag {
		background-color: var(--site-highlight-color);
		color: var(--site-lowlight-color);
		display: inline-block;
		font-family: var(--site-primary-font);
		font-size: 24px;
		line-height: 1;
		margin: 0 0 8px 8px;
		padding: 6px 12px 2px;
		text-transform: uppercase;
		transform: skew(-20deg);
	}
	
	& h1 {
		font-family: var(--site-primary-font);
		font-size: 72px;
		color: #fff;
		line-height: 1;
		margin: 0;
		text-shadow: -3px 3px 0 var(--site-tertiary-color);
		text-transform: uppercase;
	}
	
	& h2 {
		font-family: var(--site-primary-font);
		font-size: 24px;
		font-weight: 200;
		color: #fff;
		margin: -2px 0 0;
		
		& .flag {
			font-weight: 200;
		}
	}
}


/* SITE NAV */
nav {
	background-color: rgba(255,255,255,.5);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	padding: 40px 80px 24px;
	position: fixed;
	z-index: 100;
	width: 100%;
	box-sizing: border-box;
	
	& ul {
		display: flex;
		flex-direction: row;
		list-style: none;
		margin: 0;
		padding: 0;
		
		& li {
			margin-right: 48px;
			
			& a {
				color: var(--site-lowlight-color);
				font-family: var(--site-primary-font);
				font-size: 24px;
				text-transform: uppercase;
				text-decoration: none;
				position: relative;
				
				&::after {
					content: '';
					display: block;
					background-color: transparent;
					height: 4px;
					width: 100%;
					position: absolute;
					bottom: -4px;
					left: 0;
					transition: background-color .2s linear;
				}
				
				&:hover::after {
					background-color: var(--site-lowlight-color);
				}
			}
			
			&.active a::after {
				background-color: var(--site-highlight-color);
			}
		}
	}
}


/* ARTICLE */
article {
	padding: 120px 80px 40px;
	
	& h2 {
		color: var(--site-lowlight-color);
		font-family: var(--site-primary-font);
		font-size: 48px;
		margin-bottom: 24px;
	}
	
	& p {
		color: var(--site-lowlight-color);
		/*font-size: 24px;*/
		font-size: 20px;
		line-height: 1.5;
	}
	
	& li {
		color: var(--site-lowlight-color);
		font-size: 20px;
	}
	
	& a {
		color: var(--site-tertiary-color);
		transition: color .2s linear;
		
		&:hover {
			color: var(--site-secondary-color);
		}
	}
	
	& figure {
		margin: 0 0 24px 0;
		
		& img {
			border-radius: 2px;
		}
		
		& figcaption {
			font-size: 16px;
			margin: 1px 0 0 0;
			opacity: 0.5;
			font-style: italic;
		}
	}
}


/* BUTTON */
.button {
	background-color: white;
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	border: 2px solid var(--site-lowlight-color);
	border-radius: 4px;
	color: var(--site-lowlight-color);
	font-size: 20px;
	font-weight: 500;
	padding: 16px 24px;
	text-decoration: none;
	transition: background-color .2s linear;
	white-space: nowrap;
	
	& svg {
		fill: var(--site-lowlight-color);
		margin-left: 16px;
	}
	
	&:hover {
		background-color: var(--site-lowlight-color);
		color: white;
		
		& svg {
			fill: white;
		}
	}
	
	&.small {
		font-size: 16px;
		font-weight: 500;
		padding: 8px 16px;
	}
}


/* ACTIONS */
.actions-list {
	margin-top: 56px;
	padding: 0;
	display: flex;
	flex-direction: row;
	
	& li {
		list-style: none;
		margin-bottom: 16px;
		padding: 0;
		
		&:nth-child(1) {
			margin-right: 16px;
		}
		
		& a {
			background-color: white;
			display: flex;
			flex-direction: row;
			align-items: center;
			border: 2px solid var(--site-lowlight-color);
			border-radius: 4px;
			color: var(--site-lowlight-color);
			/*font-size: 24px;*/
			font-size: 20px;
			font-weight: 500;
			padding: 16px 24px;
			text-decoration: none;
			transition: background-color .2s linear;
			white-space: nowrap;
			
			& svg {
				fill: var(--site-lowlight-color);
				margin-right: 16px;
			}
			
			&:hover {
				background-color: var(--site-lowlight-color);
				color: white;
				
				& svg {
					fill: white;
				}
			}
		}
	}
}


/* SOCIAL */
.button-social {
	background-color: var(--site-lowlight-color);
	fill: white;
	height: 32px;
	width: 32px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
}

.facebook-container {
	margin: 64px 0 0;
	
	& h3 {
		color: var(--site-lowlight-color);
		font-size: 24px;
	}
}


/* EVENTS */
.events-list {
	list-style: none;
	margin: 0 0 32px;
	padding: 0;
	
	> li {
		padding: 0 0 16px;
		
		> .title {
			font-family: 'D Diam';
			font-size: 32px;
			margin-bottom: 4px;
		}
		
		> .location {
			margin: 0 0 10px;
			font-size: 24px;
			font-weight: 500;
		}
		
		> .description {
			font-size: 18px;
			margin: 0 0 24px;
		}
	}
}


/* FOOTER */
footer {
	border-top: 1px solid rgba(48,23,116,.2);
	margin-top: 40px;
	padding: 40px 80px;
	
	& .social-list {
		list-style: none;
		margin: 0 0 24px;
		padding: 0;
		display: flex;
		flex-direction: row;
		align-items: center;
		
		& li {
			margin-right: 8px;
		}
	}
	
	& p {
		display: inline-block;
		border: 1px solid var(--site-lowlight-color);
		color: var(--site-lowlight-color);
		font-size: 14px;
		padding: 4px 8px;
		margin: 0;
		opacity: .75;
	}
	
	& .button-social {
		height: 32px;
		width: 32px;
		
		& svg {
			height: 24px;
			width: 24px;
		}
	}
	
	& .footer-nav {
		margin-bottom: 16px;
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		
		& ul {
			list-style: none;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: row;
			flex: 1;
			
			& li {
				margin-right: 24px;
				
				& a {
					color: var(--site-lowlight-color);
				}
			}
		}
		
		& .social-list {
			flex: 0;
			
			& li {
				margin-right: 0;
				margin-left: 8px;
			}
		}
	}
}

/* TABLETS: PORTRAIT */
@media only screen and (max-width: 820px) {
	body {
		height: auto;
	}
	
	.container {
		flex-direction: column;
		height: auto;
	}
	
	header {
		padding: 40px 24px 680px;
	}
	
	nav {
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		padding: 24px 16px;
		position: static;
		border-bottom: 1px solid rgba(48,23,116,.2);
		
		& ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			
			& li {
				margin-right: 0;
				
				& a {
					font-size: 32px;
					
					&::after {
						height: 3px;
						bottom: -4px;
					}
				}
			}
		}
	}
	
	article {
		padding-top: 48px;
	}
}


/* PHONES */
@media only screen and (max-width: 750px) {
	body {
		height: auto;
	}
	
	.container {
		flex-direction: column;
		height: auto;
	}
	
	header {
		padding: 40px 24px 380px;
		
		& .flag {
			font-size: 16px;
			padding: 6px 8px 2px;
		}
		
		& h1 {
			font-size: 38px;
			line-height: 1;
			text-shadow: -2px 2px 0 var(--site-tertiary-color);
		}
		
		& h2 {
			font-size: 16px;
			margin: 2px 0 0;
		}
	}
	
	nav {
		backdrop-filter: none;
		-webkit-backdrop-filter: none;
		padding: 24px 16px;
		position: static;
		border-bottom: 1px solid rgba(48,23,116,.2);
		
		& ul {
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			
			& li {
				margin-right: 0;
				
				& a {
					font-size: 18px;
					
					&::after {
						height: 3px;
						bottom: -4px;
					}
				}
			}
		}
	}
	
	article {
		padding: 24px;
		width: 100%;
		box-sizing: border-box;
		
		& h2 {
			font-size: 32px;
			margin-bottom: 24px;
		}
		
		& p {
			font-size: 18px;
			line-height: 1.5;
		}
		
		& li {
			font-size: 18px;
		}
		
		& figure {
			margin: 0 0 24px 0;
			
			& figcaption {
				font-size: 14px;
				margin: 1px 0 0 0;
			}
		}
	}
	
	.actions-list {
		margin-top: 56px;
		flex-direction: column;
		
		& li {
			margin-bottom: 16px;
			
			&:nth-child(1) {
				margin-right: 0;
			}
			
			& a {
				display: flex;
				flex-direction: row;
				align-items: center;
				font-size: 20px;
				font-weight: 500;
				padding: 16px 24px;
				
				& svg {
					margin-right: 16px;
				}
			}
		}
	}
	
	.events-list {
		list-style: none;
		margin: 0;
		padding: 0;
		
		> li {
			padding: 24px 0;
			
			> .title {
				font-family: 'D Diam';
				font-size: 24px;
				margin-bottom: 8px;
			}
			
			> .location {
				margin: 0 0 16px;
				font-size: 20px;
				font-weight: 500;
			}
			
			> .description {
				font-size: 18px;
				margin: 0;
			}
		}
	}
	
	footer {
		padding: 40px 24px;
		
		& .footer-nav {
			flex-direction: column;
			justify-content: center;
			
			& .social-list {
				margin-top: 24px;
				flex: 0;
				
				& li {
					margin: 0 8px;
				}
			}
		}
		
		& p {
			margin-top: 24px;
			display: block;
			text-align: center;
		}
	}
}