:root {
	--site-max-width: 60%; /* 1024px */
	--site-background-color: #007faf;
	--site-main-background-color: #fff;
	--site-primary-color: #654ea3;
	--site-secondary-color: #2d2c4d;
	--site-tertiary-color: var(--site-background-color);
	--site-highlight-color: #d7de21;
	--site-primary-font: 'D Diam';
}

@font-face {
	font-family: 'D Diam';
	font-display: swap;
	font-style: normal;
	font-weight: 400;
	src: local(''),
			 url('../fonts/dDiam.woff2') format('woff2'), /* Super Modern Browsers */
			 url('../fonts/dDiam.woff') format('woff'), /* Modern Browsers */
			 url('../fonts/dDiam.ttf') format('truetype'), /* Safari, Android, iOS */
}


/* GENERAL */
body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
}

.content {
	margin: 0 auto;
	max-width: var(--site-max-width);
}


/* HEADER */
header {
	background-color: var(--site-primary-color);
	padding: 40px 0;
}

header .flag {
	background-color: var(--site-highlight-color);
	color: var(--site-primary-color);
	display: inline-block;
	font-family: var(--site-primary-font);
	font-size: 24px;
	line-height: 1;
	margin: 0 0 8px 8px;
	padding: 6px 12px 2px;
	text-transform: uppercase;
	transform: skew(-20deg);
}

header h1 {
	font-family: var(--site-primary-font);
	font-size: 80px;
	color: #fff;
	line-height: 1;
	margin: 0;
	text-shadow: -3px 3px 0 var(--site-tertiary-color);
	text-transform: uppercase;
}

header h2 {
	font-family: var(--site-primary-font);
	font-size: 24px;
	font-weight: 200;
	color: #fff;
	margin: -4px 0 0;
}

header h2 .flag {
	font-weight: 200;
}


/* MAIN */
main {
	padding: 64px 0;
}

main .content {
	background-color: var(--site-main-background-color);
}

main p,
main li {
	font-size: 18px;
	font-weight: 300;
	line-height: 1.5;
}

main img {
	border-radius: 2px;
}

main .headshot {
	/*box-shadow: -6px 6px 0 var(--site-highlight-color), 6px -6px var(--site-primary-color);*/
	box-shadow: -6px 6px 0 var(--site-primary-color);
	float: right;
	margin: 8px 0 16px 16px;
}


/* FOOTER */
footer {
	background-color: var(--site-secondary-color);
	padding: 24px 0;
}

footer .content {
	display: flex;
	flex-direction: row;
}

footer p {
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	line-height: 1.5;
	margin: 0;
}

footer p:nth-child(1) {
	flex: 1;
}


@media only screen and (max-width: 1024px) {
	footer .content {
		flex-direction: column;
	}
}


/* PHONES */
@media only screen and (max-width: 750px) {
	.content {
		margin: 0 auto;
		max-width: 85%;
	}
	
	main {
		padding: 40px 0;
	}
	
	main .headshot {
		height: auto;
		width: 200px;
	}
	
	header h1 {
		font-size: 64px;
	}
	
	header .flag {
		font-size: 16px;
		padding-right: 8px;
		padding-left: 8px;
	}
	
	header h2 {
		font-size: 16px;
	}
	
	footer .content {
		flex-direction: column;
	}
}