---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.astro';
---

<Layout title="Martha Woerner for Lakewood School Board">
	<article>
		<!--<h2>About</h2>-->
		
		<p>I am Martha Woerner, and I’m running for a seat on the Lakewood Board of Education this fall.  I moved to Lakewood in 2014 to work for the Cleveland school district, hoping but not sure that I would find a home here. I quickly fell in love with the welcoming, deeply connected community. And, nine years later, I can’t imagine a better place to call home, and our Lakewood schools are a big reason why. As a passionate believer in the power of public education to transform lives, I decided to run for a seat for two reasons.</p>
			
		<p>First, I am the parent of two young children (a 2 1/2 year-old and a newborn) who are future Lakewood students, and I believe that our board needs greater representation from this demographic. Parents of young children are in it for the long-haul with the district &mdash; my youngest son will graduate in 2041 &mdash; and we have specific needs and perspectives as we navigate preschool and out-of-school time, enroll our children for the first time in school, and set our children up for long-term academic, professional, and personal success. The decisions that the board makes today are the ones that will affect our children’s education for years to come.</p>
		
		<figure>
			<img src="/assets/images/family.jpg" title="Martha Woerner and her family" width="100%" />
			<figcaption>Martha with her husband Jake and oldest son Jasper.</figcaption>
		</figure>
			
		<p>Secondly, I have deep experience in public education that I believe would be an asset to the board and district administration. I’ve dedicated my career to figuring out how to make public education systems work so that each student is positioned for success, which requires educators to be set up to do their best work in classrooms every day. With nearly 15 years of experience working with and within K-12 education systems, I’ve built an understanding of the opportunities and challenges that schools and districts face. I have worked in research, policy, strategic planning, human resources, finance, and stakeholder engagement, many of which are key responsibilities of the board.</p>
		
		<Actions />
	</article>
</Layout>
