---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.astro';
import Events from '../components/Events.astro';
---

<Layout title="Upcoming Events • Martha Woerner for Lakewood School Board">
	<article>
		<!--<h2>Upcoming Events</h2>-->
		<Events />
		
		<p>Learn more <a href="/about">about Martha</a> and <a href="/priorities">her priorities</a> for Lakewood City Schools.</p>
		
		<Actions />
	</article>
</Layout>
