---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.astro';

import events from '../data/events.json';

let eventsByDate = events.sort((a,b) => {
	let dateA = Date.parse(a.date);
	let dateB = Date.parse(b.date);
	return  dateA - dateB;
});

let today = new Date().toJSON().split("T")[0];

let convertDate = (date, time) => {
	let eventDate = new Date(date + ' ' + time + 'Z');
	let options = { weekday: 'long', month: 'long', day: 'numeric' };
	return eventDate.toLocaleDateString('en-US', options);
}

let convertTime = (date, time) => {
	let eventDate = new Date(date + ' ' + time + 'Z');
	let options = { timeZone: 'UTC', hour12: true, hour: 'numeric', minute: 'numeric' }
	return eventDate.toLocaleTimeString('en-US', options);
}
---

<Layout title="Martha Woerner for Lakewood School Board">
	<article>
		<!--<h2>Upcoming Events</h2>-->
		<ul class="events-list">
			{
				eventsByDate.map(data => (
					Date.parse(data.date) >= Date.parse(today) &&
					<li>
						<h3 class="title">{data.title}</h3>
						<p class="location">{convertDate(data.date, data.startTime)} {data.endTime ? ' from ' + convertTime(data.date, data.startTime) + ' to ' + convertTime(data.date, data.endTime) : ' at ' + convertTime(data.date, data.startTime) }{data.location ? ' at ' + data.location : ''}</p>
						<p class="description">{data.description}</p>
						{data.url && 
							<p class="more-info"><a href="{data.url}" class="button small">{data.label ? data.label : 'More information'} <svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32h82.7L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3V192c0 17.7 14.3 32 32 32s32-14.3 32-32V32c0-17.7-14.3-32-32-32H320zM80 32C35.8 32 0 67.8 0 112V432c0 44.2 35.8 80 80 80H400c44.2 0 80-35.8 80-80V320c0-17.7-14.3-32-32-32s-32 14.3-32 32V432c0 8.8-7.2 16-16 16H80c-8.8 0-16-7.2-16-16V112c0-8.8 7.2-16 16-16H192c17.7 0 32-14.3 32-32s-14.3-32-32-32H80z"/></svg></a></p>
						}
					</li>
				))
			}
		</ul>
		
		<Actions />
	</article>
</Layout>
