---
import Layout from '../layouts/Layout.astro';
import Actions from '../components/Actions.astro';
import Events from '../components/Events.astro';
---

<Layout title="Martha Woerner for Lakewood School Board">
	<article>
		<p>Martha Woerner is a passionate believer in public education's power to transform lives. With nearly 15 years of working for and with school systems, she knows the critical role that boards play in partnership with educators and district leadership in ensuring all students achieve their greatest potential.</p>
		
		<p>Learn more <a href="/about">about Martha</a> and <a href="/priorities">her priorities</a> for Lakewood City Schools.</p>
		
		<Actions />
		
		<div class="facebook-container">
			<h4>The latest from Facebook</h4>
			<div class="fb-page" data-href="https://www.facebook.com/profile.php?id=100093839217112" data-tabs="timeline" data-width="480" data-height="800" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="true"><blockquote cite="https://www.facebook.com/profile.php?id=100093839217112" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/profile.php?id=100093839217112">Martha Woerner for Lakewood School Board</a></blockquote></div>	
		</div>
		
		<div class="events-container">
			<h4>Upcoming Events</h4>
			<Events />
		</div>
	</article>
</Layout>
