---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout title="Martha Woerner for Lakewood School Board">
	<Header />
	<main>
		<div class="content">
			<p><img src="/assets/images/martha-woerner-headshot.jpg" alt="Photograph of Martha Woerner" class="headshot" height="300"><strong>Martha Woerner</strong> is a passionate believer in public education's power to transform lives. With nearly 15 years of working for and with school systems, she knows the critical role that boards play in partnership with educators and district leadership in ensuring all students achieve their greatest potential.</p>
			<p>Why should you vote for Martha Woerner on November 7th?</p>
			<ul>
				<li><strong>Parent of young kids</strong> - future members of the Lakewood classes of 2039 & 2041</li>
				<li>Experience in <strong>policy, strategic planning, progress monitoring, and talent (HR) in K-12 education</strong></li>
				<li>Will <strong>protect the strength</strong> of a Lakewood education and <strong>ensure <em>ALL</em> have equitable access</strong></li>
				<li>Will <strong>serve as a parent ambassador</strong>, leveraging relationships formed through the Family Room and PTAs</li>
			</ul>
		</div>
	</main>
	<Footer />
</Layout>
