---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Martha Woerner for Lakewood School Board">
	<header>
		<h1>Martha Woerner</h1>
		<h2>for Lakewood School Board</h2>
	</header>
	<main>
		<ul class="social">
			<li><a href="https://www.facebook.com/people/Martha-Woerner-for-Lakewood-School-Board/100093839217112/"><img src="/assets/images/square-facebook.svg" alt="Facebook icon" title="Follow me on Facebook" /></a></li>
			<li><a href="https://www.linkedin.com/in/martha-woerner"><img src="/assets/images/linkedin.svg" alt="LinkedIn icon" title="Follow me on LinkedIn" /></a></li>
			<li class="email"><a href="mailto:martha4lakewoodschools@gmail.com"><img src="/assets/images/envelope-solid.svg" alt="Envelope icon" title="Email me" /></a></li>
		</ul>
		<a href="https://givebutter.com/martha4lkwdschools" class="button">Donate</a>
	</main>
	<footer>
		<p>Paid for by Woerner for Lakewood Schools.</p>	
	</footer>
</Layout>
