---
import Layout from '../layouts/Layout.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
---

<Layout title="Martha Woerner for Lakewood School Board">
	<Header />
	<main>
		<div class="content">
			<h2>Get Invovled</h2>
		</div>
	</main>
	<Footer />
</Layout>
