---
import SiteNav from '../components/SiteNav.astro';
import Social from '../components/Social.astro';
---

<footer>
	<div class="footer-nav">
		<SiteNav />
		<Social />
	</div>
	<p>Paid for by Woerner for Lakewood Schools</p>	
</footer>