---
import SiteNav from '../components/SiteNav-B.astro';
import Social from '../components/Social-B.astro';
---

<footer>
	<div class="inner-container">
		<div class="footer-nav">
			<SiteNav />
			<Social />
		</div>
		<p>Paid for by Woerner for Lakewood Schools</p>
	</div>
</footer>