---
import SiteNav from '../components/SiteNav-B.astro';
---

<header>
	<div class="inner-container">
		<div class="heading">
			<p class="flag">Elect</p>
			<h1>Martha Woerner</h1>
			<h2>for Lakewood School Board <span class="flag">November 7</span></h2>
		</div>
		
		<nav>
			<SiteNav />
		</nav>
	</div>
</header>