---
import SiteNav from '../components/SiteNav.astro';
---

<header>
	<div class="content">
		<p class="flag">Elect</p>
		<h1>Martha Woerner</h1>
		<h2>for Lakewood School Board <strong class="flag">November 7</strong></h2>
		<SiteNav />
	</div>
</header>