--- 
import '../styles/b.css';

import Header from '../components/Header-B.astro';
import Actions from '../components/Actions-B.astro';
import Footer from '../components/Footer-B.astro';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Elect Martha Woerner for Lakewood School Board.">
		<meta name="generator" content={Astro.generator} />
		<!--<link rel="icon" type="image/svg+xml" href="/favicon.svg" />-->
		<title>{title}</title>
	</head>
	<body>
		<div id="fb-root"></div>
		<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v17.0" nonce="iJUhDl4r"></script>
		
		<Header />
		<slot />
		<Actions />
		<Footer />
	</body>
</html>
